$font-size: 15px;

// Font:
$font-kerning: 0.04em;
$font-leading: $font-size * 1.4;
$font-leading-large: $font-leading * 2;

// Text:
$text-color: #b9b9b9;
$accent-color: #ffffff;

// Colors:
$bg-color: #000000;


// Paragraphs:
$max-paragraph-width: 35rem;

// Grid:
$row-height: $font-leading * 3;



