$font-size: 18px;

// Font:
$font-multiplier: 1.8;
$font-kerning: -0.01em;
$font-leading: $font-size * 1.7;

// Text:
$text-color: #000000;

// Colors:
$bg-color: #F4F1EB;

// Paragraphs:
$max-paragraph-width: 35rem;

// Grid:
$row-height: $font-leading * 3;



