@import "./_settings";

$grid-row-size: $font-leading * 5;
$grid-areas: 
"back   breadcrumb  tags        ."
".      title       title       ."
".      content     content     ."
;

%grid {
    display: grid;
    grid-auto-rows: $grid-row-size;
    grid-template-areas: $grid-areas;
    column-gap: $font-size;
    row-gap: $font-leading;
}

